.header{
    background-color: #DAFFE7;
    font-family:"メイリオ",sans-serif; 
    font-size: 80px;
    text-align: center;
}
.header_right{
    font-color:black;
    font-size:25px;
    position:absolute;
    top:80px;
    right:1%;
}
.header_right:hover{
    cursor:pointer;
      opacity:0.5;
}
