html{height: 100%;}
body{height:100%;}
header{
    background-color: #DAFFE7;
    font-family:富士ポップ;
    filter:glow(color=white,strength=7);
    font-size: 100px;
    text-align: center;
}
.header_right{
    font-color:black;
    font-size:50px;
    position:absolute;
    top:90px;
    right:1%;
}
main{
    height :90%;
    background-color: #F0FFF0;
}

.submit_btn_atena{
    border: 0px;
    width:200px;
    height:330px;
    background: url(../image/yuubin.png)left top no-repeat;
    position:absolute;
    top:250px;
    left:300px;
}
.main_atena{
    position:absolute;
    top:530px;
    left:310px;
    font-size: 20px;
}
.submit_btn_atena:hover{
    cursor:pointer;
    opacity:0.5;
}   

.submit_btn_enzi{
    border:0px;
    width:280px;
    height:270px;
    background:url(../image/enzi.png)left top no-repeat;
    position:absolute;
    top:250px;
    left:750px;
}
.submit_btn_enzi:hover{
    cursor: pointer;
    opacity:0.5;
}
.main_enzi{
    position:absolute;
    top:530px;
    left:750px;
    font-size:20px;
}